$bgcolor: rgba(0, 9, 39, 0.808);

.imagproyectos {
    width: 100%;
    height: 100%;
}


.servicioinicio {
    width: 400px;
    height: 250px;
}

footer{
    background-color: $bgcolor;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@mixin fontstyle {
    color: aliceblue;    
    font-weight: bold;
}

h3{
    @include fontstyle();
}

